body {						
background-color: rgb(255, 255, 198); /* 明るい緑 */						
text-align: center;						
min-width: 900px;						
margin:	0 0 0 0 ;
font-family: "Yu Gothic", sans-serif;						
}						
/* ===== ログイン画面用コンテナ ===== */						
.login-container {						
width: 500px;						
margin: 80px auto;						
background-color: #ffffff;						
box-shadow: 0 0 10px rgba(0,0,0,0.2);						
padding-bottom: 20px;						
}						
/* ===== ヘッダー、ナビ、フッター ===== */						
header,						
nav,						
footer {						
background-color:rgb(146, 157, 188);						
color: #ffffff;						
padding-top: 5px;						
padding-bottom: 5px;
margin-bottom: 10px
						
}						
/* ===== ヘッダー、ナビ内リンク ===== */						
header a,						
nav a {						
color: #ffffff;						
}						
/* ===== 見出し ===== */						
header h1 {						
font-size: 32pt; /* 大きく */						
text-align: center; /* 真ん中 */						
margin: 15px auto;						
}						
/* ===== 仕切り線 ===== */						
hr {						
border-top: 2px dashed #7d8bae;						
}						
/* ===== メイン ===== */						
main {						
background-color: #FFFFFF;						
min-height: 50px;						
padding: 20px;						
}						
/* ===== 表 ===== */						
table,						
th,						
td {						
border-collapse: collapse;						
border: 1px solid rgb(91, 91, 91);						
}						
/* ===== 表全体 ===== */						
table {						
margin: 15px auto;						
min-width: 800px;						
}						
/* ===== 表ヘッダー ===== */						
table th {						
background-color:rgb(146, 157, 188);						
color: #ffffff;						
text-align: center;						
padding: 10px;						
}						
/* ===== 表データ ===== */						
table td {						
text-align: center;						
padding: 10px;						
}						
/* ===== ボタン ===== */						
button {						
margin: 2px;						
padding: 5px 20px;						
background-color: #e5857b;						
color: #ffffff;						
border: none;						
width: 150px;						
cursor: pointer;
border-radius: 5px;						
}						
/* ===== ボタン hover ===== */						
button:hover {						
background-color: rgb(244, 193, 193);						
}	

/* ===== リンク hover ===== */	
a:hover{
  color:rgb(128, 0, 0);
}					
						
/* ===== チェックボックスサイズ ===== */							
input[type=checkbox] {
  -ms-transform: scale(2, 2);
  -webkit-transform: scale(2, 2);
  transform: scale(2, 2);
}	

/* ========== */	
.wrap{
  display: flex;
  flex-direction: column;
  min-height: 20vh;
}
.footer{
    margin-top: auto;
}	

				