<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<div class="login-container ">
<body>
	<header class = "sukima"><h2>お薬チェッカー </h2><h2>新規登録</h2></header> 
	
	<form action="/user/add" method="post">
		
		<div th:each="error:${errorList}">
					<span th:text="${error}" style="color: red"></span>
				</div>
		

					<div>
							<label>ユーザー名：</label>
							<input type="text"  name="name"  th:value="${name}"placeholder="名前" style="width: 220px; height: 35px;">
						</div>
				<p></p>
						<div>
							<label>パスワード：</label>
							<input type="password" name="password"placeholder="パスワード"style="width: 220px; height: 35px;">
						</div>
						
						<p></p>
		<button>登録</button>
	</form>
	</main>
	<footer th:replace="~{footer}"></footer>
	</div>
</body>

</html>