<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body >
	<div class="login-container ">
		<header class = "sukima">
			<h2>お薬チェッカー</h2><h2>ログイン</h2></header> 

	

	
	<p th:if="${message}" th:text="${message}" style="color: red;"></p>


	<form action="/login" method="post">
		<div>
			<label>ユーザー名：</label>
			<input type="text"  name="name"  th:value="${name}"placeholder="名前" style="width: 220px; height: 35px;">
		</div>
<p></p>
		<div>
			<label>パスワード：</label>
			<input type="password" name="password"placeholder="パスワード"style="width: 220px; height: 35px;">
		</div>
		
<p></p>

		<button class = "page-a" >ログイン</button>
	</form>
	
<p></p>

	<h5><a href="/user/add" class="addform">新規会員登録はこちら・・・</a></h5>
	
	<footer th:replace="~{footer}"></footer>
	</div>
</body>

</html>