<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
	<header th:replace="~{header}"></header>
		<form action="/medicine" method="get">
			お薬検索：<input type="text" class="text" name="keyword" th:value="${keyword} "placeholder="薬名"> ｜

			<button>検索</button>	
		</form>
	<table border="1" class="medicine">
		<tr>


			<th >チェック</th>
			<th >薬名</th>
			<th >個数</th>
			<th >日付</th>
			<th >時間</th>
			<th >備考</th>
		

		</tr>
		
		<tr th:each="medicine:${medicineList}">

			<td>
				<form action="/medicine/check" method="post">
					<input type="hidden" name="id" th:value="${medicine.id}">
					<input type="checkbox" name="mcheck" th:checked="${medicine.m_check}" onchange="submit(this.form)">　済 
					
					
				</form>
			</td>
			<td th:text="${medicine.name}"></td>
			<td th:text="${medicine.count}"></td>
			<td th:text="${medicine.date}"></td>
			<td th:text="${medicine.time}"></td>
			<td th:text="${medicine.note}"></td>
			

		</tr>
	</table>
	<form action="/medicine/add" method="get">

		<td>
			<button>追加する</button>
		</td>
	</form>
	<footer th:replace="~{footer}"></footer>
</body>



</html>